
.left {
	background-color: aqua;
	position: fixed;
	width: 25%;
	height: 100%;
	top: 0;
	left: 0;
}

.right {
	position: fixed;
	width: 75%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground {
	background-image: url('../img/ground.png');
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.rocket {
	position: absolute;
	left: 50%;
	bottom: 55px;
	width: 100px;
	height: 200px;
	margin-left: -40px;
	transition: bottom 10000ms;
	background: url('../img/stage1.png') no-repeat 0 0 ;
}

body.body-state2 .rocket {
	background-image: url('../img/stage2.png');
}

body.body-state3 .rocket {
	background-image: url('../img/stage3.png');
}

body.body-state4 .rocket {
	background-image: url('../img/stage3.png');
}

body.body-state5 .rocket {
	width: 200px;
	height: 200px;
	margin-left: -80px;
	background: url('../img/stage5.png') no-repeat;
}

body.body-state1 .rocket {
	transition: none;
}

body.body-state3 .rocket {
	bottom: 1000px;
}

body.body-state4 .rocket {
	bottom: 1000px;
}

.state1 {
	display: none;
	}
.state2 {
	display: none;
	}
.state3 {
	display: none;
	}
.state4 {
	display: none;
}
.state5 {
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a.button {

}

#hl {
	margin-left: 40%;
}

#hb {
	margin-left: 48%;
}

#countdown {
	margin-left: 90px;
}

h1 {
	margin-left: 30px;
}

a {
	margin-left: 80px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}